@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}

.clearfix::after
{
	content: '';
	display: table;
	clear: both;
}

/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0px;
}

[class*='col-'] {
	float: left;
	padding-right: 20px; /* column-space */
}

.grid {
	/*width: 100%;*/
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad2 {
	padding-top: 20px;
	padding-left: 20px; /* grid-space to left */
	padding-right: 0px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.push-right {
	float: right;
}

/* Content Columns */

.col-1-1 {
	width: 100%;
}
.col-2-3, .col-8-12 {
	width: 66.66%;
}

.col-1-2, .col-6-12 {
	width: 50%;
}

.col-1-3, .col-4-12 {
	width: 33.33%;
}

.col-1-4, .col-3-12 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6, .col-2-12 {
	width: 16.667%;
}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.1%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%
}

/* Layout Columns */

.col-11-12 {
	width: 91.66%
}

.col-10-12 {
	width: 83.333%;
}

.col-9-12 {
	width: 75%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%
}



/* Pushing blocks */

.push-2-3, .push-8-12 {
	margin-left: 66.66%;
}

.push-1-2, .push-6-12 {
	margin-left: 50%;
}

.push-1-3, .push-4-12 {
	margin-left: 33.33%;
}

.push-1-4, .push-3-12 {
	margin-left: 25%;
}

.push-1-5 {
	margin-left: 20%;
}

.push-1-6, .push-2-12 {
	margin-left: 16.667%;
}

.push-1-7 {
	margin-left: 14.28%;
}

.push-1-8 {
	margin-left: 12.5%;
}

.push-1-9 {
	margin-left: 11.1%;
}

.push-1-10 {
	margin-left: 10%;
}

.push-1-11 {
	margin-left: 9.09%;
}

.push-1-12 {
	margin-left: 8.33%
}


@media handheld, only screen and (max-width: 767px) {
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
	}
	
	[class*='col-'] {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 0px;
		padding-right: 10px; /* column-space */
	}
	
	
	/* Mobile Layout */
	
	[class*='mobile-col-'] {
		float: left;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 10px;
		padding-left: 0px;
		padding-right: 10px; /* column-space */
		padding-bottom: 0px;
	}
	
	.mobile-col-1-1 {
		width: 100%;
	}
	.mobile-col-2-3, .mobile-col-8-12 {
		width: 66.66%;
	}

	.mobile-col-1-2, .mobile-col-6-12 {
		width: 50%;
	}

	.mobile-col-1-3, .mobile-col-4-12 {
		width: 33.33%;
	}

	.mobile-col-1-4, .mobile-col-3-12 {
		width: 25%;
	}

	.mobile-col-1-5 {
		width: 20%;
	}

	.mobile-col-1-6, .mobile-col-2-12 {
		width: 16.667%;
	}

	.mobile-col-1-7 {
		width: 14.28%;
	}

	.mobile-col-1-8 {
		width: 12.5%;
	}

	.mobile-col-1-9 {
		width: 11.1%;
	}

	.mobile-col-1-10 {
		width: 10%;
	}

	.mobile-col-1-11 {
		width: 9.09%;
	}

	.mobile-col-1-12 {
		width: 8.33%
	}

	/* Layout Columns */

	.mobile-col-11-12 {
		width: 91.66%
	}

	.mobile-col-10-12 {
		width: 83.333%;
	}

	.mobile-col-9-12 {
		width: 75%;
	}

	.mobile-col-5-12 {
		width: 41.66%;
	}

	.mobile-col-7-12 {
		width: 58.33%
	}
	
	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
}



body{
  font-family: 'PT Sans', sans-serif;
  @include zero;
}

header {
  padding: 1em;
  background-color:#1A1D27;
  text-align:center;
}

header .logo {
	width:175px;
}

header img,
header h1 {
  display:inline-block;
  vertical-align:middle;
}

h1 {
	
	font-size:3.5em;
	color:#fff;

}

#nav
		{
			width: 100%; /* 1000 */
			margin-top:-1em;
			z-index:9999;
			position:relative;
		}

			#nav > a
			{
				display: none;
			}

			#nav li
			{
				position: relative;
			}
				#nav li a
				{
					color: #fff;
					display: block;
				}
				#nav li a:active
				{
					background-color: #c00 !important;
				}

			#nav span:after
			{
				width: 0;
				height: 0;
				border: 0.313em solid transparent; /* 5 */
				border-bottom: none;
				border-top-color: #efa585;
				content: '';
				vertical-align: middle;
				display: inline-block;
				position: relative;
				right: -0.313em; /* 5 */
			}

			/* first level */

			#nav > ul
			{
				height: 4.75em; /* 60 */
				background-color: #e15a1f;
				list-style-type: none;
				padding-left:0;
			}
				#nav > ul > li
				{
					width: 12.5%;
					height: 100%;
					float: left;
					list-style-type: none;
				}
					#nav > ul > li > a
					{
						height: 100%;
						font-size: 1.1em; /* 24 */
						line-height: 1.5em; /* 60 (24) */
						text-align: center;
						list-style-type: none;
						padding: 1.5em 0.5em;
						text-decoration:none;
					}
						#nav > ul > li:not( :last-child ) > a
						{
							border-right: 1px solid #cc470d;

						}
						#nav > ul > li:hover > a,
						#nav > ul:not( :hover ) > li.active > a
						{
							background-color: #cc470d;
						}


				/* second level */

				#nav li ul
				{
					background-color: #cc470d;
					display: none;
					position: absolute;
					top: 100%;
					text-decoration:none;
					list-style-type: none;
				}
					#nav li:hover ul
					{
						display: block;
						left: 0;
						right: 0;
						text-decoration:none;
					}
						#nav li:not( :first-child ):hover ul
						{
							left: -1px;
						}
						#nav li ul a
						{
							font-size: 1em; /* 20 */
							margin-left:-2.5em;
							border-top: 1px solid #e15a1f;
							padding: 0.5em; /* 15 (20) */
							text-decoration:none;
							text-align:left;
						}
							#nav li ul li a:hover,
							#nav li ul:not( :hover ) li.active a
							{
								background-color: #e15a1f;
								text-decoration:none;
							}


		@media only screen and ( max-width: 66.563em ) /* 1000 */
		{
			#nav
			{
				width: 100%;
				text-decoration:none;
			}
			
			#nav > ul > li > a
					{
						height: 100%;
						font-size: 1em; /* 24 */
						line-height: 1.5em; /* 60 (24) */
						text-align: center;
						list-style-type: none;
						padding: 1.5em 0.5em;
						text-decoration:none;
					}
		}
		
		@media only screen and ( max-width: 60.625em ) /* 1000 */
		{
			#nav
			{
				width: 100%;
				text-decoration:none;
			}
			
			#nav > ul > li > a
					{
						height: 100%;
						font-size: 1em; /* 24 */
						line-height: 1.5em; /* 60 (24) */
						text-align: center;
						list-style-type: none;
						padding: 1em 0.5em;
						text-decoration:none;
					}
					
					.home p {
						font-size:1.5em;
						line-height:1.5em;
						padding:3em 6em;
						color:#174A6F;
					}
		}

		@media only screen and ( max-width: 50em ) /* 640 */
		{

			#nav
			{
				position: fixed;
				top: 1em;
				left: 0;
			}
				#nav > a
				{
					width: 3.125em; /* 50 */
					height: 3.125em; /* 50 */
					text-align: left;
					text-indent: -9999px;
					background-color: #e15a1f;
					position: relative;
				}
					#nav > a:before,
					#nav > a:after
					{
						position: absolute;
						border: 2px solid #fff;
						top: 35%;
						left: 25%;
						right: 25%;
						content: '';
					}
					#nav > a:after
					{
						top: 60%;
					}

				#nav:not( :target ) > a:first-of-type,
				#nav:target > a:last-of-type
				{
					display: block;
				}


			/* first level */

			#nav > ul
			{
				height: auto;
				display: none;
				position: absolute;
				left: 0;
				right: 0;
				top:2em;
			}
				#nav:target > ul
				{
					display: block;
				}
				#nav > ul > li
				{
					width: 100%;
					float: none;
				}
					#nav > ul > li > a
					{
						height: auto;
						text-align: left;
						padding: 0.5em 1em; /* 20 (24) */
					}
						#nav > ul > li:not( :last-child ) > a
						{
							border-right: none;
							border-bottom: 1px solid #cc470d;
						}


				/* second level */

				#nav li ul
				{
					position: static;
					/*padding: 1.25em; /* 20 */
					padding-top: 0;
				}
		}


main {
	margin:-1em auto 5em;
	text-align: center;
}

.home p {
	font-size:1.5em;
	line-height:1.5em;
	padding:3em 10em;
	color:#174A6F;
}

.nationwide {
	padding:3em;
}
.nationwide h2 {
	color:#174A6F;
	font-weight:400;
	font-size:2.75em;
}

.bynumbers {
	padding:2em 3em 6em;
	background-color:#F2F4F7;
	overflow:hidden;
	
	h2 {
	color:#174A6F;
	font-weight:400;
	font-size:2.75em;
	}
	
	ul li {
	text-decoration:none;
	list-style-type:none;
	float:left;
	width:25%;
	font-size:1.5em;
	border-right: 1px solid #cc470d;
	
	&:last-child {
		border-right:none;
	}
	
	span { font-size:2.5em;
	color: #cc470d;
	font-weight:700; }
	}
	

}

.subscription {
	padding:1em 3em 4em;
	background-color:#1782aa;
	
		h2 {
		  margin-left: auto;
		  margin-top: 50px;
		  text-align: center;
		  font-weight: 100;
		  font-size: 2.8em;
		  color: #fff;
	}
}


#subscribe {
    width: 350px;
    margin: 1em auto 0;
}

#subscribe input[type="text"], #subscribe input[type="submit"] {
    font-size: 14px;
    width: 350px;
    padding: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: none;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#subscribe input[type="text"] {
    background: white;
    margin: 0 0 10px;
    border-bottom: 1px solid #e5e5e5;
}

#subscribe input[type="text"]:focus {
    outline: none;
}

#subscribe input[type="submit"] {
    background: #2ab5b6;
    color: #fff;
	font-size:1.5em;
    cursor: pointer;
}

#subscribe input[type="submit"]:hover {
    background: #D98747;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#subscribe input[type="submit"]:active {
    background: #8CC988;
}

[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate(300px, 0);
    -moz-transform: translate(300px, 0);
    -ms-transform: translate(300px, 0);
    -o-transform: translate(300px, 0);
    transform: translate(300px, 0);
    opacity: 0;
}

@media only screen and ( max-width: 68.750em ) {
					
.home p {
					
	padding:3em 6em;
}
					
.bynumbers {
	padding:2em 3em 6em;
	background-color:#F2F4F7;
	overflow:hidden;
	
	h2 {
	color:#174A6F;
	font-weight:400;
	font-size:2.5em;
	}
	
	ul li {
	text-decoration:none;
	list-style-type:none;
	float:left;
	width:25%;
	font-size:1em;
	border-right: 1px solid #cc470d;
	
	&:last-child {
		border-right:none;
	}
	
	span { font-size:2.5em;
	color: #cc470d;
	font-weight:700; }
	}
	

}

.nationwide img {
		width:100%;
	}

}

@media only screen and ( max-width: 55.563em ) {
					
.home p {
					
	padding:3em 2em;
	font-size:1.25em;
}
					
.bynumbers {
	padding:2em 2em 6em;
	background-color:#F2F4F7;
	overflow:hidden;
	
	h2 {
	color:#174A6F;
	font-weight:400;
	font-size:2.5em;
	}
	
	ul li {
	text-decoration:none;
	list-style-type:none;
	float:left;
	display:inline;
	width:25%;
	font-size:1em;
	border-right: 1px solid #cc470d;
	
	&:last-child {
		border-right:none;
	}
	
	span { font-size:1.5em;
	color: #cc470d;
	font-weight:700; }
	}
	

}

}

@media only screen and ( max-width: 37.500em ) {
					
.home p {
					
	padding:3em 2em;
	font-size:1.25em;
}
					
.bynumbers {
	padding:2em 2em 6em;
	background-color:#F2F4F7;
	overflow:hidden;
	
	h2 {
	color:#174A6F;
	font-weight:400;
	font-size:2.5em;
	}
	
	ul li {
	text-decoration:none;
	list-style-type:none;
	float:left;
	display:inline;
	width:25%;
	font-size:1em;
	border-right: 1px solid #cc470d;
	padding:0.5em;
	
	&:last-child {
		border-right:none;
	}
	
	span { font-size:1.25em;
	color: #cc470d;
	font-weight:700; }
	}
	

}

}


.aboutheader {
	margin-top:-1.5em;
	padding:6em;
	text-align:center;
	
	h2 {
		color:#fff;
		font-size:4.5em;
		font-weight:400;
	}
	
}

.aboutmain {
	
	p {
		font-size:1.5em;
		line-height:1.75em;
		padding:3em 6em;
		color:#174A6F;
		text-align:center;
	}
}

.overview {
	background-color:#E4E4E4;
	padding:1.5em 0;
	text-align:center;
	
	h2 {
		margin-top:2em;
		color:#cc470d;
		font-weight:700;
		font-size:1.5em;
	}
	
	p {
		padding:1em 10em;
		font-size:1.25em;
		line-height:1.5em;
	}
	
	a {
				text-decoration:none;
				color:#cc470d;
				
				&:hover {
					color:#174A6F;
				}
			}
}

.programs {
	text-align:center;
	margin:2em 0 5em;
	padding:0;
	
		
		.content {
			padding:1em 2em;
		}
	
			h2 {
				font-size:1.5em;
				top:0;
				font-weight:400;
				color:#174A6F;
				
			}
			p {
				font-size:1em;
				line-height:2em;
			}
			
			a {
				text-decoration:none;
				color:#cc470d;
				
				&:hover {
					color:#174A6F;
				}
			}
			
			ul {
				list-style-type:none;
			}
	
	
}

.sponsors {
	margin:6em auto;
	img {
		width:100%;
	}
	
	h2 {
	color:#174A6F;
	font-weight:400;
	font-size:2.5em;
	margin-bottom:1em;
	text-transform:uppercase;
	}
}

/********** STAFF PAGE ****************/

.staff {
	margin:2em 4em;
	text-align:center;
}


.image-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: #cc470d;
  cursor: pointer;
  margin:2em;
  text-align:left;
}
.image {
  width: 250px;
  height: 300px;
  z-index: 1;
  transition: all .5s;
}
.image img {
  max-height: 100%;
}
.caption {
  width: 200px;
  height: auto;
  padding:10px;
  background: #cc470d;
  z-index: 2;
  font-weight: 400;
  transition: all .5s;
  color:#fff;
  text-align:center;
  
}
.caption-num2 {
  transform: translateY(140px);
}
.image-container-num2:hover .image-num2 {
  opacity: .8;
  transform: translateY(-50%) translateY(0px);
}
.image-container-num2:hover .caption-num2 {
  transform: translateY(-210px);
}
.break {
  display: none;
}
@media all and (max-width: 650px) {
  .image-container {
    margin: 30px;
  }
  .break {
    display: initial;
  }
}


/************ END STAFF PAGE ***********/


/********* BOARD PAGE ***********/

.board {
	
	text-align:center;
	margin:2em 0 5em;
	padding:0;
	
		
		.content {
			padding:1em 2em;
		}
	
			h3 {
				font-size:1.5em;
				top:0;
				font-weight:400;
				color:#174A6F;
				margin-bottom:-0.5em;
				
			}
			p {
				font-size:1em;
				line-height:2em;
			}
			
			h2 {
				color:#cc470d;
				margin-bottom:0;
			}
	
	
}


/******* END BOARD PAGE ***********/
		
		
/******** PRESS PAGE *************/

.press {
	
	margin:5em 3em;
	
	p {
		font-size:1.5em;
		color:#174A6F;
		padding:1em 4em;
	}
	
	ul {
		list-style-type:none;
		padding:0;
		li {
			display:inline-block;
			margin:2em;
			a {
		text-decoration:none;
		color:#fff;
			}
		}
	}
}

.flat-button {
  position: relative;
  width: 250px; height: 60px;
  background: $reddish;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: color .3s;
  /* Typo */
  line-height: 60px;
  text-align: center;
  color: #fff;
}

.flat-button:after {
  position: absolute;
  top: 90%; left: 0;
  width: 100%; height: 100%;
  background: $redder;
  content: "";
  z-index: -2;
  transition: transform .3s;
}

.flat-button:hover::after {
  transform: translateY(-80%);
  transition: transform .3s;
}

@media only screen and (max-width: 46.438em){

.press {
	
	p {
	font-size:1.2em;
	line-height:1.5em;
	padding:1em 2em;
	}


}
}

/****** END PRESS PAGE ***********/

/****** CAREERS PAGE **********/


.careers {
	background-color:#E9EEF1;
	background-size:cover;
	margin-bottom:-5em;
}

.volunteer,
.careers {
	
	padding:3em;
	h2 {
		margin-top:2em;
		color:#cc470d;
		font-weight:700;
		font-size:1.75em;
	}
	
	h3 {
		
		color:#174A6F;
		margin-bottom:-1em;
	}
		
	
	p {
		padding:1em 5em;
		font-size:1.1em;
		line-height:1.5em;
		
		a {
			text-decoration:none;
			color:#cc470d;
			
			&:hover {
				color:#32b4e2;
			}
		}
	}
}

@media only screen and (max-width: 40em){
	
.volunteer, .careers {
  padding: 1em 0.5em;
  
  p {
  padding: 1em 0;
  font-size: 1em;
  line-height: 1.5em;
}
}
	
	
	
}
		


/****** END CAREERS PAGE *******/


/********* CONTACT PAGE *********/

.contact {
	
	padding:3em;
	h2 {
		margin-top:2em;
		color:#cc470d;
		font-weight:700;
		font-size:1.75em;
	}
	
	h3 {
		
		color:#174A6F;
		margin-bottom:-1em;
	}
	
	ul {
		list-style-type:none;
		
		li {
			font-size:1.5em;
		}
	}
		
	
	p {
		padding:1em 5em;
		font-size:1.1em;
		line-height:1.5em;
		
		a {
			text-decoration:none;
			color:#cc470d;
			
			&:hover {
				color:#32b4e2;
			}
		}
	}
}

/***** END CONTACT PAGE ********/


/********* LOGIN PAGE *********/

.login {
	margin-top:-1em;
	padding:14em 3em;
	
		h2 {
		  margin-left: auto;
		  margin-top: 50px;
		  text-align: center;
		  font-weight: 100;
		  font-size: 2.8em;
		  color: #fff;
	}
}

@media only screen and (max-width: 28.813em){
	
	.login {
		padding:14em 0;
	}
	
	#subscribe {
    width: 350px;
    margin: 1em auto 0;
}

#subscribe input[type="text"], #subscribe input[type="submit"] {
    width: 200px;
}
	
}


/********* END LOGIN PAGE ********/

/********** FAQ **********/

.faq {
	margin:5em auto;
	
	h3 {
		color:#cc470d;
		font-size:1.5em;
	}
	
	p {
		padding:0 15em 2em;
		line-height:1.5em;
		font-size:1em;
	}
}

.content2 {
  width: 80%;
  margin: 0 auto;
}

.question {
  position: relative;
  background: #cc470d;
  color:#fff;
  font-size:1.25em;
  font-weight:400;
  margin: 0;
  padding: 1.5em;
  display: block;
  width:100%;
  cursor: pointer;
}

.answers {
  padding: 0 2em;
  font-size:1em;
  line-height:1.5em;
  margin: 1em 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}

.questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;
}

.plus {
  position: absolute;
  margin-left: 10px;
  z-index: 5;
  font-size: 2em;
  color:#fff;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}

/******** END FAQ *******/


/******** BLOG **********/
.blogpost {
	margin:5em auto;
}

.page {
  padding: 0 8em;
}

.post {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom:4em;
  
  h2{
	
  color: #cc470d;
}  
}

/* Metadata */
.post-meta {
  text-align: right; 
}

.post-meta ul {
 list-style: none;
}

.post-meta li {
  display: inline;
  color: #777;
  margin-right:1em;
}

.post-meta a {
  color: #777;
  text-decoration: none;
}

.post-meta a:hover {
 color: #333; 
}

/* Comments bubble */
a.post-comments {
  position: relative;
  float: right;
  top: 20px;
  text-decoration: none; 
  font-size: 2em;
  color: #ccc;

}

a.post-comments:hover {
 color: #555;
}

/* Buttons */
button {
	border:0;
	font-size:1em;
	margin-left:30em;
}

@media only screen and (max-width: 41.250em){

.page {
	padding:0 2em;

}

.post-meta {
	text-align:left;
	
	ul {
		padding-left:0;
	}
}

}
/***** END BLOG ******/


/***** IN THE NEWS ******/

.inthenews {
	
	margin: 5em;
	
	h3 {
		
		color: #cc470d;
	}
		
	a {
		text-decoration:none;
		color:#fff;
	}
	
	hr {
		margin:3em;
	}
}


/***** END IN THE NEWS ******/


/******* AWARDS ********/

.awards {
	
	
	padding:3em;
	
	ul {
		list-style-type: none;
		
		li {
			margin-bottom:1em;
		}
	}
	
	a {
		text-decoration:none;
		color:#cc470d;
		
		&:hover {
			color:#174A6F;
		}
	}
	
	h3 {
		
		color:#174A6F;
		margin-bottom:1.5em;
	}
		
}
		


/****** end awards ******/

footer {
	background-color:#32b4e2;
	padding:1em;
	text-align:center;
	
	ul{
			li {
				display:inline-block;
				padding-right:2em;
				
				a {
					color:#fff;
					text-decoration:none;
					margin-top:1em;
					
					&:hover {
						color:#F5E094;
						-webkit-transition: all 0.3s ease-in-out;
						-moz-transition: all 250ms linear;
						-ms-transition: all 250ms linear;
						-o-transition: all 250ms linear;
						transition: all 250ms linear;
			}
		}
	}

}

}

.social {
	ul {
		li { 
			
			margin:1em;
				
				i {
					font-size:4em;
					
					&:hover {
						
						color:#F5E094;
						-webkit-transition: all 0.3s ease-in-out;
						-moz-transition: all 250ms linear;
						-ms-transition: all 250ms linear;
						-o-transition: all 250ms linear;
						transition: all 250ms linear;
						
					}
				}
		}
	}
}

.banner {
    width: 100% !important;
	position: relative;
	overflow: auto;
}

.banner ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.banner ul li {
	float: left;
}

.banner img {
    width: 100%;
}




@media only screen and (max-width: 31em){

footer ul{
	padding:0;
	margin:0 auto;
	text-align:center;

	li {
		display:block;
		padding:0;

		a {
			display:inline-block;
			text-decoration:none;
		}
	}

}
}